# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Listed some of the popular languages for data science.
* Listed frequently used libraries for data science
* chart with open source tools used for data science
* some arithmetic experiments
* some examples of the use of arithmetic expressions

 *Some of the popular languages that Data Scientists use are:*

 1. Python
 2. R
 3. SQL
 4. Scala
 5. Java
 6. C++ 
 7. Julia

*Some of the commonly used libraries used by Data Scientists include:*

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. Keras

| Data Science Tools. |
| -------------------- |
|  Jupyter Notebooks |
| Anaconda  |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python.


| Expresion |    Description   |    use   |
|---------- | --------------- | --------- |
| +       |  *Performs Addition between the operands* |12 + 3 = 15 |
| -  | *Performs Subtraction between the operands* | 12 - 3 = 9 |
|*   |  *Performs Multiplication between the operands*  | 12 * 3 = 36 |
| /       | *Performs Division between the operands* | 12 / 3 = 4 |

In [5]:
(3*4)+5

17

In the next cell, 200 minutes will be transformed into hours. To do this, we must divide the 200 minutes by 60, which are the number of minutes in an hour.

In [9]:
min = 200
hours = min / 60
print (hours)

3.3333333333333335

## Author

Edilson Andres Hoyos Suarez